
.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  width: 30%;
  background-color: rgb(221, 212, 216);
  border-radius: 5px 0 0 5px;
  align-self:center;
}

.messages {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-self:center;
  height: 90vh;
  width: 70%;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: rgb(226, 223, 222);
}

form {
  display: flex;
  flex-direction: column;
  flex:1;
}
.messages-body {
  flex: 4;
  overflow: auto;
  height: calc(100% - 144px);
  margin: 10px 0;
  padding: 0 10px;
}
.message-btn {
  max-width: 75px;
  margin: 10px 0;
  background-color: rgb(161, 166, 207);
}
.message-txt {
  background-color: #fff;
  height: 60px;
  width: 100%;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #DF8E00;
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}
.message-txt:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

ul {
  padding: 0;
  list-style-type: none;
  margin-top: 15px;
  width: auto;
  display: flex;
  flex-direction: column;
}

li {
  color: #000;
  display: block;
  font-family: IBM Plex Serif,serif;
  padding: 8px 0;
  margin: 10px auto;
  width: 80%;
  text-align: center;
  border-radius: 15px 0px 15px 0px;
  background-color: rgb(219, 230, 221);
  font-size: 18px;
  margin-left: 10px;
}


@media (max-width: 700px) { 

  .users {
    width: 100%;
    min-height: 10vh;
    margin: 10px 0 10px 0;
  }
  
  .messages {
    width: 100%;
    min-height: 70vh;
    margin-bottom: 10px;
  }
}
p {
    min-height: 30px;
    min-width: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 15px 15px 15px 0px;
}
.material-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my {
  min-height: 30px;
  min-width: 30px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 15px 15px 0px 15px;
  background-color: rgb(180, 209, 203);
}
.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.message-my{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.message-user {
  align-self: flex-start;
  margin-bottom: 5px;
}
.message-user-my {
  align-self: flex-end;
  margin-bottom: 5px;
}
