.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgb(107, 137, 192);
  height: 100vh;
}

input {
  width: 100%;
  min-width: 300px;
}